*, *:before, *:after {box-sizing:  border-box !important;}


.latest-img-row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  
}

.latest-img {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%; 
}
