*, *:before, *:after {box-sizing:  border-box !important;}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

.latest-img-row {
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em; 
}

.latest-img {
    display: inline-block;
    margin:  .25px;
    margin-bottom: 25px;
    padding:  10px;
    width:  100%;
    height: auto;
}

.latest-img:hover {
    background-color: #f1f1f1;
}

.footer {
    background-color: #f8f8f8;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #e7e7e7;
    height: 40px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-text {
    margin-top: 10px;
}

#img-preview-div {
    min-height:400px;
    max-height: 100%;
}

.cropper-container {
    width: 100% !important;
    max-height: 100% !important: 
}
