{% extends 'web/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-success" style="text-align:center;">
      <strong>New!</strong> Create animated Tenso GIFs!
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert">
      This site allows you to generate Tenso memes.  Tenso memes are a series of multi-panel images that place emphasis on an unusual or odd area of a picture typically for comedic effect.  Each image usually consists of several frames of a picture that progressively zoom in on the targeted area.  Sometimes, the final close-up panel reveals something that is hardly visible in the full dimension image, creating an effect of surprise.  Read more <a href="http://knowyourmeme.com/memes/tenso" target="_blank">here</a>.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
	<a name="make-tenso"></a>Tenso
      </div>
      <div class="panel-body">
	<div class="alert alert-info">
	  Upload an image from your computer then use the selection tool to
	  define the area you want to progressively zoom in on.
	</div>
	<div id="img-upload-warning" class="alert alert-warning hidden">
	    Please upload the correct image type (PNG, JPG, GIF)
	</div>
	<form enctype="multipart/form-data" method="POST" class="form">
	  {% csrf_token %}
	  {% bootstrap_field form.image %}
	  {% bootstrap_field form.box %}
	  {% bootstrap_field form.text %}
	  {% bootstrap_field form.text_pos %}
	  {% bootstrap_field form.num_panels %}
	  <span class="badge">New!</span>
	  {% bootstrap_field form.gif %}
	  {% buttons %}
	  <input type="submit" class="btn btn-primary" value="Generate" />
	  {% endbuttons %}
	</form>
      </div>
    </div>
  </div>
  <div id="img-preview-div" class="col-md-4 thumbnail">
      <img src="" id="img-preview" />
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- TensoGenerator -->
    <ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="ca-pub-7377491514599016"
	 data-ad-slot="9593496863"
	 data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
<hr/>
<h3>Latest Tenso Memes</h3>
<a name="latest-tenso-memes"></a>
<div class="row">
  <div class="col-md-11 right">
    <a class="btn btn-primary btn-sm" href="{% url 'web:tenso_list' %}">More...</a>
  </div>
</div>
<br>
<div class="latest-img-row">
  {% for tenso in tensos %}
  <div class="latest-img thumbnail">
    <a href="{% url 'web:tenso' pk=tenso.pk %}">
      <img src="{{ MEDIA_URL }}{{ tenso.image.name }}" />
    </a>
  </div>
  {% endfor %}
</div>
<div class="row">
  <div class="col-md-11 right">
    <a class="btn btn-primary btn-sm" href="{% url 'web:tenso_list' %}">More...</a>
  </div>
</div>
<br>
{% endblock %}
{% block javascript %}
<script src="{% static 'web/js/cropper.min.js' %}"></script>
<script src="{% static 'web/js/tenso.js' %}"></script>
{% endblock %}
